body {
  /* background-color: #404040; */
  color: black;
  font-family: Georgia, serif;
}

.content {
  max-width: 50em;
  margin: 0 auto;
  padding: 5px;
  font-family: Georgia,serif;
  font-size: 20px;
  line-height: 30px;
  background-color: #fff;
  color: #000;

}

#subtitle {
  font-style: italic;
  font-size: 20px;
}

#date {
  margin-top: 3px;
  color: gray;
  font-size: 15px;
}

h2 {
  font-size: 40px;
  margin-bottom: 4px
}

canvas {
  margin: 2px;
}
